<template name="home">

   <div class="ui segment">
      <h1>Moo.</h1>
      <h3>Farm Encyclopedia</h3>
      <br/>

      <div class="ui image">
        <img src="http://www.galtec.com.au/wp-content/uploads/2013/11/goat_banner.jpg">
      </div>




    <div class="ui medium bottom image">
      <img src="http://s3.amazonaws.com/tc-us-prod/download_resource/downloads/796/HeiferLogo_WB.jpg">
    </div>


    <div class="ui inverted bottom segment">
      <p>

        Farm Encyclopedia With Heifer's mission to end world hunger and poverty introduces an easy to use, visually appealing website that provides its users with quality information to care for their donated animals.

    </p>
    </div>
 </div>
</template>
