<template name="animals">
  <div id = "animals" class="ui items">
    {{#each animals}}
      <div class="item">
          <div class="ui animal medium image">
            {{#if cfsImage}}
              {{#with FS.GetFile "images" cfsImage}}
                <img src="{{this.url store='images'}}" alt="">
              {{/with}}
            {{/if}}
          </div>
          <div class="content">
            <div class="name">{{species}}</div>
            <p class="animal Description">{{pageTitle}} <br/><br/>
            </p>
          </div>
      </div>
     {{/each}}
  </div>
</template>
