<template name="animal">
  <div class="ui teal raised segment">
    <h1>{{pageTitle}}</h1>
    <br/>
    <div class="ui medium story image">
      {{#if cfsImage}}
        {{#with FS.GetFile "images" cfsImage}}
          <img src="{{this.url store='images'}}" alt="">
        {{/with}}
      {{/if}}
    </div>
    <br/>
    <h3>{{species}}</h3>
    <br>
    <div class="ui divider"></div>
    <br/>
    <h3>Benefits</h3>
    <br/>
    {{#each financialOpp}}
      {{{benefitsHTML this}}} &nbsp;&nbsp;&nbsp;
    {{/each}}

    <div class="ui divider"></div>
      {{story}}
    <div class="ui divider"></div>
    Height:
    <div class="ui blue circular label big">
      {{height}}
    </div>
    <div class="ui blue circular label big">
      {{weight}}
    </div>
    :Weight
    <br/>
    <div class="ui divider"></div>
    <br/>
    {{{lifespanHTML this}}}
    <br/><br/>
    <h3>Lifespan: {{lifespan}} years</h3>
    <br/>
    <div class="ui divider"></div>
    <br/>
    <div class="ui center aligned">
      <div class='ui image'><img src = '/cow12.png'/> </div> ---------
      <div class="ui blue circular label big">
        {{gestation}}
      </div>
      ---- <div class='ui image'><img src = '/cow12big.png'/> </div>
    </div>

    <br/>
    <h3>Gestation Period ({{gestationUnits}})</h3>

    <br/>
    <div class="ui divider"></div>
    <br/>
    <h3>Did you know that ? </h3>
    {{funFact}}

    <br/>
    <div class="ui divider"></div>
    <br/>
    <h3>Nutrition</h3>
    {{nutrition}}

    <br/>
    <div class="ui divider"></div>
    <br/>
    <h3>Care</h3>
    {{care}}

    <br/>
    <div class="ui divider"></div>
    <br/>
    <h3>References</h3>
    {{references}}

  </div>
</template>
