

<template name = "newAnimal">
  <h1>New Animal Form</h1>
  <div class = "ui blue left aligned form segment">
  <!-- Animal Name -->
  <div class = "ui form">
    <label>Species Name</label>
    <div class = "field">
      <input type = "text" id = 'newName'>
    </div>
    <label>Upload Animal Picture</label>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <br/>
  </div>

<div class = "ui form">
  <label>Page Title</label>
  <div class = "field">
    <input type = "text" id = 'newTitle'>
  </div>


<label>Story</label>
<div class = "ui form">
    <div class = "field">
      <textarea id = 'newStory'></textarea>
    </div>
</div>


  <div class = "ui form">
    <label>Height (ft)</label>
    <div class = "field">
      <input type = "text" id = 'newHeight'>
    </div>
  </div>

  <div class = "ui form">
    <label>Weight (lb)</label>
    <div class = "field">
      <input type = "text" id = 'newWeight'>
    </div>
  </div>

  <div class = "ui form">
    <label>Lifespan (yrs)</label>
    <div class = "field">
      <input type = "text" id = 'newLifespan'>
    </div>
  </div>

  <div class = "ui form">
    <label>Gestation</label>
    <div class = "grouped inline field">
      <input type = "text" id = 'newGestation'>
      <div class="ui radio checkbox">
        <input type="radio" id = "newGestationMonths" name="gestUnits" checked="">
        <label>Months</label>
      </div>
      <div class="ui radio checkbox">
        <input type="radio" id = "newGestationDays" name="gestUnits">
        <label>Days</label>
      </div>
    </div>
  </div>

  <div class = "ui form">
    <label>Countries </label>
    <div class = "field">
      <input type = "text" id = 'newCountries'>
    </div>
  </div>


  <label>Fun Fact</label>
  <div class = "ui form">
      <div class = "field">
        <input type="text" id = 'newFunFact'>
      </div>
  </div>

<label>Nutrition</label>
  <div>
      <div>
        <input id="newNutrition" type="text">
      </div>
  </div>
  <br/>
  <label>Care</label>
  <div>
      <div>
        <textarea id="animalCare"></textarea>
      </div>
  </div>
  <br/>
  <label>References</label>
  <div>
      <div>
        <textarea id="newReferences"></textarea>
      </div>
  </div>

</div>
  <div class = "ui form">
  <br/>
  <label> Financial Opportunities </label>
  <br/><br/>
  <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox" value = "dairy" id = "newDairy" name="opp">
        <label>Dairy</label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" value = "clothing" id = "newClothing" name="opp">
        <label>Fur/Leather</label>
    </div>
        <div class="ui checkbox">
      <input type="checkbox" value = "meat" id = "newMeat" name="opp">
        <label>Meat</label>
    </div>
        <div class="ui checkbox">
      <input type="checkbox" value = "eggs" id = "newEggs" name="opp">
        <label>Eggs</label>
    </div>
        <div class="ui checkbox">
      <input type="checkbox" value = "breeding" id = "newBreeding" name="opp">
        <label>Breeding</label>
    </div>
        <div class="ui checkbox">
      <input type="checkbox" value = "money" id = "newMoney" name="opp">
        <label>Money</label>
    </div>
  </div>
  </div>

  <div class = "ui blue submit button" id = 'animalSubmit'>Submit</div>
  </div>
</template>
