<template name="newStory">
  <h2>New Story</h2>
  <div class="ui left aligned form segment">
    <div class="field">
      <label>Story Title</label>
      <div class="ui input">
        <input type="text" id="title" placeholder="Title">
      </div>
    </div>
    <div class="field">
      <label>Story</label>
      <div class="ui input">
        <textarea id = 'story' placeholder="Story"></textarea>
      </div>
    </div>

    <label>Upload Animal Picture</label>
    <input type="file" name="fileToUpload" id="fileToUpload">

      <div class="field">
        <label>Story By</label>
        <div class="ui input">
          <input type="text" id="storyby" placeholder="By:">
        </div>
      </div>

      <div class = " inline field">

        <div class="ui radio checkbox">
          <input type="radio" id = "communitiesofchange" value="Communities of Change" name="storytype" checked="">
          <label>Communities of Change</label>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" value = "People" id = "people" name="storytype">
          <label>People</label>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" value = "Events" id = "events" name="storytype">
          <label>Events</label>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" value = "Partners" id = "partners" name="storytype">
          <label>Partners</label>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" value = "Projects" id = "projects" name="storytype">
          <label>Projects</label>
        </div>
      </div>
    <div class="ui blue submit button" id="submitStory">Add Story</div>
  </div>
</template>
