<template name="story">
  <div class="ui piled segment">
    <div class="story image">
      {{#if cfsImage}}
        {{#with FS.GetFile "images" cfsImage}}
          <img src="{{this.url store='images'}}" alt="">
        {{/with}}
      {{/if}}
    </div>
    <h2>{{title}}</h2>
    <br/>
    <p>{{description}}</p>
    <br/><br/>
    <a class="like ui label">
      <i class="like icon"></i>
    </a> {{votes}} moos
  </div>
</template>
