<template name="stories">
  <div class = "ui left aligned">
    <div class="ui selection dropdown">
      <input type="hidden" name="animal">
      <div class="default text">Story</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item animalselect" data-value="All">All</div>
        {{#each types}}
          <div class="item animalselect" data-value="{{this}}">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>

  <div id = "stories" class="ui items">
    {{#each stories}}
        <div class="item {{storytype}} All">
          <div class="ui medium story image">
            {{#if cfsImage}}
              {{#with FS.GetFile "images" cfsImage}}
                <img src="{{this.url store='images'}}" alt="">
              {{/with}}
            {{/if}}
            <div class="ui red bottom left attached label">{{storytype}}</div>
          </div>
          <div class="content">
            <div class="name">{{title}}</div>
            <p class="story description">{{description}} <br/><br/>
            <a class="like ui label">
              <i class="like icon"></i>
            </a> {{votes}} moos
            </p>
          </div>
        </div>

     {{/each}}
  </div>
</template>
