<template name="layout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  <div class="ui grid">
        <div class="computer tablet only row">
            <div class="ui inverted fixed menu navbar page grid">
                <a href="/" class="brand item">Moo.</a>
                <a href="/" class="active item">Home</a>
                <a href="/animals" class="item">Animals</a>
                <a href="/stories" class="item">Stories</a>
                {{#if currentUser}}
                  <div class="right menu">
                    <div class="ui pointing dropdown link item">
                      <div class="text">Admin</div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="item add-animal">Add an Animal.</div>
                        <div class="item write-story">Write a Story</div>
                        <div class="item logout">Logout</div>
                      </div>
                    </div>
                  </div>
                {{/if}}
            </div>
        </div>
        <div class="mobile only row">
            <div class="ui fixed inverted navbar menu">
                <a href="" class="brand item">Animal Farm</a>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="reorder icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
  <div class="ui center aligned page grid main">
    <div class="row">
      <div class="column">
        {{> yield}}
      </div>
    </div>
  </div>

</template>
