<template name="admin">

  <h1>Admin Page</h1>
  {{#if currentUser}}
    <br/><br/>
    <p>You are successfully logged in as Administrator </p>
    <br/>
    <p>You can now add, edit or delete contents on this website! </p>
    <br/>
    <div class="ui button red">Logout</div>
  {{else}}
    {{> atForm}}
  {{/if}}
</template>
